.remote-container {
    text-align: center;

    .remote {
        width: 320px;
        margin: 15px auto;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 40px;
        padding-bottom: 15px;
        border: 1px solid rgb(180, 180, 180);
        background-color: rgba(245, 245, 245, 0.9);
        box-shadow: 8px 8px 0px #999,
                    9px 9px 0px #999;

        > *:not(:last-child) {
            padding-bottom: 20px;
        }

        .temperature-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            color: black !important;
        }

        .operator {
            display: inline-block;
            width: 60px;
            height: 60px;
            font-size: 35px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .value {
            display: inline-block;
            margin-left: 15px;
            margin-right: 10px;
            user-select: none;
        }

        .properties-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .actions-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 7px;

            > *:not(:last-child) {
                margin-right: 6px;
            }
        }

        .instant-send-toggle {
            display: inline-block;
            background: inherit;
            box-shadow: inherit;

            button {
                height: 100%;
            }
        }
    }
}

@media only screen and (max-device-width: 430px) {
    .remote-container {
        .remote {
            .actions-row {
                margin-bottom: 10px;
    
                > * {
                    height: 60px;
                }
            }
        }
    }
}