.timer-dialog {
    form .form-row {
        .hours-buttons-row {
            direction: rtl;
            margin-bottom: 25px;
            
            > * {
                margin-left: 5px;
                font-size: 12px;
                width: 25px;
            }
        }
    }
}