@font-face {
	font-family: 'Varela Round';
	src: url('/assets/fonts/VarelaRound-Regular.ttf');
	font-size: 1em;
}

body {
    width: 100%;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    background-color: rgb(220, 220, 220);
    margin-top: 60px;
}

#root {
    width: 100%;
}

.app-bar {
    margin-bottom: 15px;
}