.quick-session-buttons-container {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    width: 350px;
    
    button {
        margin: 4px 5px;
        width: 165px;
        height: 50px;
    }
}