.future-scheduled-sessions {
    text-align: center;
    max-width: 870px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid rgb(30, 30, 30);
    padding-bottom: 5px;

    .title {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        background-color: rgb(30, 30, 30);
        color: rgb(220, 220, 220);
        margin-bottom: 5px;
        height: 50px;
        line-height: 50px;

        .icon {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 30px;
            line-height: 50px;
            padding-left: 7px;
        }
    }
}

@media only screen and (min-device-width: 430px) {
    .future-scheduled-sessions {
        margin-top: 2px;
    }
}

@media only screen and (max-device-width: 430px) {
    .future-scheduled-sessions {
        max-width: 95%;
    }
}