	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/09/2018 23:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("/assets/fonts/icons/Flaticon.ttf");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/fonts/icons/Flaticon.ttf");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-sun:before { content: "\f100"; }
.flaticon-rain:before { content: "\f101"; }
.flaticon-celsius:before { content: "\f102"; }
.flaticon-fan:before { content: "\f103"; }
.flaticon-gear:before { content: "\f104"; }
.flaticon-swing:before { content: "\f105"; }
.flaticon-speed:before { content: "\f106"; }
.flaticon-swing-1:before { content: "\f107"; }
.flaticon-calendar:before { content: "\f108"; }
.flaticon-snow:before { content: "\f109"; }
.flaticon-motor:before { content: "\f10a"; }
.flaticon-power:before { content: "\f10b"; }