.scheduled-session-container {
    display: inline-flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 1vw;
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgba(245, 245, 245, 0.9);
    box-sizing: border-box;

    .id-container,
    .buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .properties-container {
        display: inline-block;
    }

    .properties-container-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .session-property-view {
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        padding: 7px;
        text-align: center;

        .avatar {
            background-color: rgb(40, 40, 40);
        }

        .value {
            font-weight: 700;
            font-size: 25px;
        
            img {
                height: 22px;
                user-select: none;
            }
        }

        .value.date {
            font-size: 15px;
        }

        .id {
            color: rgba(0, 0, 0, 0.5);
            font-size: 15px;
        }

        .id.date {
            font-size: 12px;
        }
    }
}

@media only screen and (max-device-width: 430px) {
    .session-property-view {
        .value {
            font-size: 20px;
        }

        .value img {
            height: 16px;
        }
    }
}