.schedule-dialog {
    .paper {
        width: 100%;
        position: relative;
    }

    .dialog-content {
        > * {
            margin-bottom: 20px;
        }
        
        form .form-row {
            margin-bottom: 10px;
        
            > * {
                margin-bottom: 5px;
                width: 100%;
            }
        
            .date-buttons-row {
                direction: rtl;
    
                > * {
                    margin-left: 10px;
                    font-size: 12px;
                }
            } 
        }
    }

    .dialog-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 24px;
        padding-bottom: 5px;
    }

    .date-error {
        color: rgb(230, 0, 0);
    }

    .calendar-dialog, .timer-dialog {
        height: 300px;
    }
}